body {
    background-color: #71da6e;
}

.container h3{
    margin-top: 30px;
    text-align: center;
    font-style: italic;
}

.item {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#shoppingBasket {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    white-space: nowrap;
    overflow-x: auto;
}

#comments {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}

#orderStatus {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}
